#color{
    color: white;
    background-color: rgb(197, 197, 197);
}


#navigation{
   border-bottom: 3px solid rgb(131, 130, 130);
}


@media (max-width:768px){
#navigation{
    width: 100%;
}


    #icons{
          font-size: 1.5rem;
    }

}
@media (max-width:576px){
#navigation{
    width: 100%;
}


    #icons{
          font-size: 1.8rem;
          border: none;
    }

}

@media (max-width:320px){
    #icons{
          font-size: 1.5rem;
    }
}
